<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lettuce B. Frank</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="orange darken-4 center-align">
    <div class="container amber accent-3">
      <header>
        <h1 class="">
          <a href="/" class="teal-text darken-4">Lettuce B. Frank</a>
        </h1>
        <div id="hero">
          <img
            src="/assets/Burger-Desktop.jpg"
            class="responsive-img"
            alt="A cheeseburger with tomato and lettuce with a knife stuck through it."
          />
        </div>
        <nav class="light-green accent-2">
          <a href="/login" class="green-text darken-4">login/signup</a>
          {{#if loggedIn}}
          <a href="/logout" id="logout" class="green-text darken-4">logout</a>
          <a href="/dashboard" class="green-text darken-4">dashboard</a>
          {{/if}}
        </nav>
      </header>
      <main class="brown darken-3">
        {{{body}}}
      </main>
      <footer class="footer section">
        <h4 class="brown-text darken-3">Thanks for visiting!</h4>
      </footer>
    </div>
    
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>