<h2>Your Reservations:</h2>

<div>
    <h3>Reservation Number: id</h3>
    <div>Time: time</div>
    <div>Date: date</div>
    <div>Name for Party: party-name</div>
    <div>Number of Guests: guests-number</div>
</div>