<div class="white-text darken-4">
  <h3>Welcome to the fine dining experience of <br> Lettuce B. Frank!</h3>
</div>

<a href="/dashboard" 
  id="checkRes"
  class="waves-effect waves-light btn"
>Check My Reservation</a>
<a href="/reservations"
  id="createRes"
  class="waves-effect waves-light btn"
>Create a Reservation</a>
