<div class="red-text darken-4">
  <h3>Welcome to the fine dining experience of <br> Lettuce B. Frank!</h3>
</div>

<button
  id="reservation"
  class="waves-effect waves-light btn"
>Check My Reservation</button>
<button
  id="reservation"
  class="waves-effect waves-light btn"
>Create a Reservation</button>