<div class="white-text darken-4">
  <h3>Welcome to the fine dining experience of <br> Lettuce B. Frank!</h3>
</div>

{{#if loggedIn}}
<a href="/dashboard" class="waves-effect waves-light btn">Reservations</a>
{{else}}
<a href="/login" class="waves-effect waves-light btn">Reservations</a>
{{/if}}
