<form class="login-form">
    <h2>Login</h2>
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="phone-login">Phone Number:</label>
        <input type="number" id="phone-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="signup-form">
    <h2>Sign Up (first-time users)</h2>
    <div>
        <label for="name-signup">Name:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="phone-signup">Phone Number:</label>
        <input type="number" id="phone-signup" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>