<form class="signup-form">
    <div>
        <label for="name-signup">Name:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="phone-signup">Phone Number:</label>
        <input type="number" id="phone-signup" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>