<section>
    <h2>Date: {{res_date}}</h2>
    <h2>Time: {{res_time}}</h2>

    <form class="res-details">
        <div>
            <label for="party-name">Name for Party:</label>
            <input type="text" name="party-name" id="party-name">
        </div>
        <div>
            <label for="guests-number">Number of Guests:</label>
            <input type="number" name="guests-number" id="guests-number">
        </div>
        <button type="submit">Submit Reservation</button>
    </form>
</section>