<section>
    <h2>Select your reservation date and time:</h2>

    <form class="new-reservation">
        <input type="date" id="date">

        <div class="times">
            <label for="12">12:00</label>
            <button type="button" id="12">Reserve</button>

            <label for="1">1:00</label>
            <button type="button" id="1">Reserve</button>

            <label for="2">2:00</label>
            <button type="button" id="2">Reserve</button>

            <label for="3">3:00</label>
            <button type="button" id="3">Reserve</button>

            <label for="4">4:00</label>
            <button type="button" id="4">Reserve</button>

            <label for="5">5:00</label>
            <button type="button" id="5">Reserve</button>

            <label for="6">6:00</label>
            <button type="button" id="6">Reserve</button>

            <label for="7">7:00</label>
            <button type="button" id="7">Reserve</button>

            <label for="8">8:00</label>
            <button type="button" id="8">Reserve</button>
        </div>
    </form>
</section>