<form class="res-details container section">

  <div>
    <label for="party-name">Name for Party:</label>
    <input type="text" name="party-name" id="party_name" />
  </div>

  <div>
    <label for="party_number">Number of Guests:</label>
    <input type="number" name="party_number" id="party_number" />
  </div>

  <div>
    <label for="date">Choose a date:</label>
    <input type="date" id="date" />
  </div>

  <div class="the-time">
    <label for="time">Choose a time:</label>

    <select name="time" id="time">
      <option value="12:00pm" class="white-text">12:00pm</option>
      <option value="1:00pm">1:00pm</option>
      <option value="2:00pm">2:00pm</option>
      <option value="3:00pm">3:00pm</option>
      <option value="4:00pm">4:00pm</option>
      <option value="5:00pm">5:00pm</option>
      <option value="6:00pm">6:00pm</option>
      <option value="7:00pm">7:00pm</option>
      <option value="8:00pm">8:00pm</option>
      <option value="9:00pm">9:00pm</option>
    </select>
  </div>

  <div class="section">
    <button type="submit" class="waves-effect waves-light btn">Submit Reservation</button>
  </div>

</form>
<script src="/javascript/reservations.js"></script>