/* :root {
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #fff;
}

* {
    box-sizing: border-box;
} */

.nav-wrapper {
    background-image: url('../assets/Burger-Desktop.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 550px;
    width: 100%;
}

#hero {
    background-image: url('../assets/Burger-Desktop.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 550px;
    width: 100%;
    height: 400px;
}

select {
    display: flex;
}
form {
    caret-color: white;
}
form label, form input {
    color: white;
}